<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" routerLink="/">Cocktail Party</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/cocktails/new" class="nav-link">Create new cocktail</a>
      </li>
    </ul>
  </div>
</nav>
