<div class="d-flex flex-wrap" *ngIf="!isFetching; else loading">
  <div
    *ngFor="let cocktail of cocktails"
    (click)="openCheckoutModal(cocktail)"

    class="card m-3"
    style="width: 18rem;">
    <img [src]="cocktail.imageUrl" class="card-img-top" alt="{{ cocktail.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ cocktail.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Type: {{ cocktail.type }}</h6>
    </div>
  </div>
</div>

<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>

<app-modal
  *ngIf="currentCocktail"
  [name]="currentCocktail.name"
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
>
  <div class="modal-body">
    <div class="card ">
      <img [src]="currentCocktail.imageUrl" class="card-img-top" alt="{{ currentCocktail.name }}">
      <div class="card-body">
        <h5 class="card-title">Type: {{ currentCocktail.type }}</h5>
        <p class="card-text" *ngIf="currentCocktail.description"><strong>Description:</strong> {{ currentCocktail.description }}</p>
        <div>
          <h4>Ingredients</h4>
          <ul>
            <li *ngFor="let ingredient of currentCocktail.ingredients; let i = index">
              <h5>Ingredient {{ i + 1 }}: {{ ingredient.name }} {{ ingredient.quantity }} {{ ingredient.unitOfMeasure }}</h5>
            </li>
          </ul>
        </div>
        <p class="card-text"><strong>Instructions:</strong> {{ currentCocktail.instructions }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-danger"
        (click)="closeCheckoutModal()"
      >Cancel</button>
    </div>
  </div>
</app-modal>
