<div class="container">
  <div class="row mt-3">
    <h3>Create new cocktail</h3>
  </div>
  <div class="row-cols-2 mt-3 mb-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="cocktailForm" >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('name', 'required')"
          class="form-text invalid-form-text"
        >
          Write the name of the cocktail
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input
          type="text"
          formControlName="imageUrl"
          id="imageUrl"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('imageUrl', 'required')"
          class="form-text invalid-form-text"
        >
          Write a link to an image of the cocktail
        </small>
        <small
          *ngIf="fieldHasError('imageUrl', 'url')"
          class="form-text invalid-form-text"
        >
          Write the link correctly
        </small>
      </div>

      <hr/>


      <div class="form-group">
        <p>Type</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="alcohol"
            value="Alcohol cocktail"
            formControlName="type"
          />
          <label for="alcohol">Alcohol cocktail</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="mocktail"
            value="Mocktail"
            formControlName="type"
          />
          <label for="mocktail">Mocktail</label>
        </div>
        <div class="form-check form-check-inline">
          <button type="button" class="btn btn-outline-info" (click)="resetType()">Reset</button>
        </div>
        <small
          *ngIf="fieldHasError('type', 'required')"
          class="form-text invalid-form-text"
        >
          Select type
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="description">Description (not necessarily)</label>
        <textarea
          formControlName="description"
          id="description"
          class="form-control"
        ></textarea>
      </div>

      <hr/>

      <div class="form-group" formArrayName="ingredients">
        <button
          type="button"
          class="btn btn-outline-info mb-3"
          (click)="addIngredient()"
        >Add ingredient</button>&nbsp;
        <button
          type="button"
          class="btn btn-outline-dark mb-3"
          (click)="resetIngredients()"
        >Reset</button>

        <div class="form-group mb-3" *ngFor="let ingredientControl of getIngredientControls(); let i = index">
          <div [formGroupName]="i" class="border border-success p-3">
            <h5>Ingredient №{{ i + 1 }}</h5>
            <label for="ingName">Ingredient name</label>
            <input
              type="text"
              formControlName="name"
              id="ingName"
              class="form-control"
            />
            <small
              *ngIf="ingredientHasError(ingredientControl, 'required', 'name')"
              class="form-text invalid-form-text mr-3"
            >
              Write the ingredient name
            </small>

            <label for="quantity">Amount</label>
            <input
              type="number"
              formControlName="quantity"
              id="quantity"
              class="form-control"
            />
            <small
              *ngIf="ingredientHasError(ingredientControl, 'required', 'quantity')"
              class="form-text invalid-form-text mr-3"
            >
              Write the amount
            </small>

            <label for="unitOfMeasure">Unit of measure</label>
            <select
              class="form-control"
              id="unitOfMeasure"
              formControlName="unitOfMeasure"
            >
              <option value="">Choose a unit of measure</option>
              <option value="ml">ml</option>
              <option value="pcs.">pcs.</option>
              <option value="gram">gram</option>
              <option value="tsp">tsp</option>
            </select>
            <small
              *ngIf="ingredientHasError(ingredientControl, 'required', 'unitOfMeasure')"
              class="form-text invalid-form-text mr-3"
            >
              Choose a unit of measure
            </small>

            <button
              type="button"
              class="btn btn-outline-dark mt-3"
              (click)="deleteIngredient(i)"
            >Delete</button>
          </div>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea
          formControlName="instructions"
          id="instructions"
          class="form-control"
        ></textarea>
        <small
          *ngIf="fieldHasError('instructions', 'required')"
          class="form-text invalid-form-text"
        >
          Write the instructions
        </small>
      </div>

      <hr/>

      <button
        [disabled]="cocktailForm.invalid"
        class="btn btn-primary"
        type="submit"
      >
        <span *ngIf="!isUploading">
          Save
        </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>

